<link rel="stylesheet" type="text/css" href="/css/home.css">

<body>

    <div class="main">

        <%if (locals.user) {%>

        <h1 class="text-center"><%=user.name%></h1>

        <h1 class="text-center">we are in home page bro</h1>

        <div class="container">
            <form action="/post/create" id="post_form" method="POST">
                <div class="form-group">
                    <label for="post">Post</label>
                    <textarea class="form-control" id="post" rows="3" name="post_content" placeholder="Type here..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <%}else{%>

        <h1 class="text-center">we are in home page bro</h1>

        <%}%>

        <div class="container row" id="notes">
            <% for (let i of post_list){%>
            <div class="card noteCard" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%=i.user.name%></h5>
                    <hr>
                    <!-- <img src="<%=i.user.photo%>" class="card-img-top" alt="..."> -->
             <p class="card-text"><%=i.content%></p>
                    
                </div>
            </div>
            <%}%>
            </div>        
    </div>
</body>