<link rel="stylesheet" type="text/css" href="/css/home.css">
<body>
    
    <div class="main">
        
<%if (locals.user) {%>

    <h1><%=user.name%></h1>
    
    <h1>we are in home page bro</h1>

<%}else{%>

    <h1>we are in home page bro</h1>

<%}%>
</div>
    </body>