<link rel="stylesheet" href="/css/userprofile.css">

<h1>heyy its user ejs</h1>
<h3>User Name : <%=user.name%></h3>
<h3>User Email : <%=user.email%></h3>

<!-- <a href="/user/sign-out">
    <button type="submit" class="btn btn-danger d-block mx-auto">Sign Out</button>
    </a> -->