<link rel="stylesheet" type="text/css" href="/css/sign_in.css">

<div class="login my-3">
    <div class="title">Login here</div>
    <div class="subtitle">CODEIAL</div>
    <div class="fields">
        <form action="/user/create-session" method="POST">
            <div class="username">
                <input type="email" class="user-input" placeholder="Email" name="email">
            </div>
            <div class="password">
                <input type="password" class="password-input" placeholder="password" name="password">
            </div>
            <Button type="submit" class="btnmain border-0">Login</Button>
            <div class="link">
                <a href="#">Forget Password</a> or <a href="/user/sign_up">Sign up </a>
            </div>
        </form>
    </div>
</div>