body{margin-top:20px;}

.comment-wrapper {
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
#card{
    padding-right: -15px!important;
    padding-left: -15px!important;
}
svg :hover{
    fill: rgb(13 128 183);
}
img{
    width: 27%;
    
    border-radius: 10%;
}
.user_img{
    width: 60%;
    
}
.user_img img{
    width: 6%;
    height: 100%;
    
}